{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beschikbare bungalows</title>
  </head>
  <body>
    <h1>Beschikbare bungalows</h1>

    <ul>
      {% for bungalow in bungalows %}
      <figure class="figure">
        <a href="{{ url_for('views.booking', id=bungalow.id) }}">
          <img
            src="{{ url_for('static', filename='images/'+ bungalow.type.fotopath+'.jpg') }}"
            class="rounded"
          />
        </a>
        <figcaption class="figure-caption">{{ bungalow.naam }}</figcaption>
      </figure>
      {% endfor %}
    </ul>
  </body>
</html>
{% endblock %}
